{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('apextoolgroup/brand-timeline') }}


{% set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'container',
    'mt-50',
    'mb-50'

  ] %}

<div{{attributes.addClass(classes)}}>

  {{ title_prefix }}
  {% if title %}
    {{- title -}}
  {% endif %}
  {{ title_suffix }}

  <div class="list brand-timeline">
    {% if attachment_before %}
      <div class="attachment attachment-before">
        {{ attachment_before }}
      </div>
    {% endif %}

    <div{{content_attributes.addClass(content_classes)}}>
    {% if view.getTitle %}
      <h1>
        {{ view.getTitle() }}
      </h1>
    {% endif %}


    <div class="view-header">
      {% if header %}
        {{ header }}
      {% endif %}
    </div>

    <div class="filter">
      {% if exposed %}
        <div class="view-filters brand-timeline-years tab-view">
          {{ exposed }}
        </div>
        <div class="view-filters brand-timeline-years select-view">
          <span class="menu-label">{{ 'Select Year' | t }}</span>
            <span class="menu-block selected-year-display">
              <span class="year-label">year</span>
            </span> 
            <a href="" class="menu-trigger"></a>
            <nav class="menu-dropdown" role="navigation">
            {{ exposed }}
            </nav>
        </div>
      {% endif %}
    </div>
    <button type="button" class="slick-arrow slick-prev prev-arrow">&nbsp;</button>
    <div class="brand-timeline-content">
      {% if rows %}
        {{ rows }}
      {% elseif empty %}
        {{ empty }}
      {% endif %}
    </div>
    <button type="button" class="slick-arrow slick-next next-arrow">&nbsp;</button>
  </div>

  {% if pager %}
    {{ pager }}
  {% endif %}

  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}

  {% if more %}
    {{ more }}
  {% endif %}
  </div>

  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}

  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>