<div class="image">
    {{ fields.field_employee_photo.content }}
    <div class="info">
      <div class="name">{{ fields.title.content }}</div>
      <div class="designation">{{ fields.field_employee_designation.content }}</div>
    </div>
</div>
<div class="bottom">
  <div class="description">
    <div class="close"></div>
    <div class="desc-info">
      <div class="name">{{ fields.title.content }}</div>
      <div class="designation">{{ fields.field_employee_designation.content }}</div>
    </div>
    {{ fields.body.content }}
    {{ field.field_short_description.content }}
  </div>
</div>