{#
/**
 * @file
 * Template for the wishlist user form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="wishlist-user-form clearfix">
	<div class="wishlist__heading">
		{{'My Wishlist'|t }}
	</div>

	<div class="wishlist-items">
		{% for key, item in form.items %}
			{% if key|first != '#' %}
        {% if loop.first %}
          <div class="wishlist-header">
            <div class="item-product-image">
              {{ 'Product Image'|t }}
            </div>
            <div class="item-heading">
              {{ 'Product/Item'|t }}
            </div>
            <div class="item-quantity">
              {{ 'Quantity'|t }}
            </div>
            {{ form.header }}
          </div>
        {% endif %}
  
        <div class="wishlist-item">
          <div class="wishlist-item__product">
            {{ item.product_img }}
          </div>
          <div class="wishlist-item__entity">
            {{ item.entity }}
          </div>
          <div class="wishlist-item__details">
            {{ item.details }}
          </div>
          <div class="wishlist-item__actions">
            {% if item.product_out_of_stock %}
              <div class="actions-wrap">
                <div class="product-stock out-of-stock">{{ item.product_out_of_stock }}</div>
                {{ item.actions }}
              </div>
            {% else %}
              {{ item.actions }}
            {% endif %}
          </div>
				</div>
			{% endif %}
      {% if loop.first and key|first == '#' %}
        <div class="view-empty"> {{ 'Your wishlist is empty.'|t }} </div>
      {% endif %}
    {% endfor %}
	</div>
	{{ form|without('header', 'items') }}
</div>
