{% set article_type = fields.field_type.content|striptags|trim|clean_class %}
{% set more_link = article_type == 'video' ? 'Watch Now' : (article_type == 'white-paper' ? 'Download Now' : 'Read More') %}
{% set article_url = path('entity.node.canonical', { 'node': row._entity.id }) %}
{% set article_img = fields.field_image.content %}

<div class="news-insights--item news-insights--item-{{ article_type }}">
  <div class="news-insights--item--image">
    <a href="{{ article_url }}">
      {% if article_img %}
      {{ fields.field_image.content }}
      {% else %}
      <div class="placeholder">
        <img src="{{ theme_asset('/dist/img/clecotools-logo.svg') }}">
      </div>
      {% endif %}
    </a>
  </div><!-- /.news-insights--item--imag -->
  <div class="news-insights--item--content">
    <div class="news-insights--item--meta">
      <div class="news-insights--item--date">
        {{ fields.created.content }}
      </div>
      <!-- /.news-insights--item--date -->
    </div><!-- /.news-insights--item--meta -->
    <div class="news-insights--item--title">
      <h3>
        {{ fields.title.content }}
      </h3>
    </div><!-- /.news-insights--item--title -->
    <div class="news-insights--item--body">
      <p><a href="{{ article_url }}" class="read-more">{{ more_link }}</a></p>
    </div><!-- /.news-insights--item--body -->
  </div><!-- /.news-insights--item--content -->
</div><!-- /.news-insights--item -->
