{#
/**
 * @file
 * Theme override to display a Product: Buy Now Sticky block.
 *
 * Available variables:
 * - title: Product Title
 * - sku: Product sku
 *
 * See sata_core/src/Plugin/Block/ProductBuyNowSticky.php
 */
#}

{% if title is not null %}
<div class="block block--gw-product-buy-now-sticky">
  <div class="block--gw-product-buy-now-sticky__inner-wrapper">
    <div class="title">
      <header>{{ title }}</header>
      <div class="sku sku--mobile"><p>{{ sku }}</p></div>
    </div>
    <footer>
      <div class="sku sku--desktop"><p>{{ sku }}</p></div>
      {% if price_spider_generic_product_button == 1 and wtb_url|render|trim is not empty %}
        <div class="node__buy-now-button-generic">
          <a href="{{ wtb_url }}" class="btn"><span class="ps-button-label">{{ 'Where To Buy'|t }}</span></a>
        </div>
      {% else %}
        <div class="node__buy-now-button ps-widget" ps-config="{{ price_spider_product_key }}" ps-sku="{{sku}}"></div>
      {% endif %}
    </footer>
  </div>
</div>
{% endif %}
