<main class="main">
  <section class="section">
    <h1>Tags</h1>

    <p><span class="tag"><button type="button" class="tag-button">{{ svg('dist/img/icons/close.svg') }}</button>Tag Content</span>
    </p>
    <p><span class="tag"><button type="button" class="tag-button" disabled>{{ svg('dist/img/icons/close.svg') }}</button>Disabled Button</span>
    </p>
    <p><span class="tag"><button type="button" class="tag-button">{{ svg('dist/img/icons/close.svg') }}</button>A longer tag whose content may need to wrap on smaller viewports</span>
    </p>

    <h2>Tag List</h2>
    <ul class="tag-list">
      <li class="tag-list-item">
        <span class="tag"><button type="button" class="tag-button">{{ svg('dist/img/icons/close.svg') }}</button>Purus Pellentesque</span>
      </li>
      <li class="tag-list-item">
        <span class="tag"><button type="button" class="tag-button">{{ svg('dist/img/icons/close.svg') }}</button>Etiam Amet</span>
      </li>
      <li class="tag-list-item">
        <span class="tag"><button type="button" class="tag-button">{{ svg('dist/img/icons/close.svg') }}</button>Quam</span>
      </li>
      <li class="tag-list-item">
        <span class="tag"><button type="button" class="tag-button">{{ svg('dist/img/icons/close.svg') }}</button>Porta Pharetra Quam</span>
      </li>
      <li class="tag-list-item">
        <span class="tag"><button type="button" class="tag-button">{{ svg('dist/img/icons/close.svg') }}</button>Egestas Parturient Malesuada</span>
      </li>
    </ul>
    <button type="button" class="a a--small">{{ 'Clear All Filters' | t }}</button>
  </section>
</main>
