{% set conditionval = fields.field_not_a_hubspot_form.content %}

{% if conditionval == '1' %}
  <a class="checkable-card" target="_blank" rel="noopener" href="{{ fields.field_form_link.content|render|trim|striptags|replace({'\n': '', '\r': '' }) }}">
    <div class="checkable-card-icon">
      {{ fields.field_image.content }}
    </div>
    <div class="checkable-card-label">
      <div class="selected">{{'Selected' | t }}</div>
      {{ fields.title.content }}
    </div>
  </a>
{% else %}
<a class="checkable-card" href="#{{ fields.field_hubspot_form_id.content|render|trim|striptags|replace({'\n': '', '\r': '' }) }}">
  <div class="checkable-card-icon">
    {{ fields.field_image.content }}
  </div>
  <div class="checkable-card-label">
    <div class="selected">{{'Selected' | t }}</div>
    {{ fields.title.content }}
  </div>
</a>
{% endif %}
