<div class="strap strap--centered">
	<div class="strap-content">
		<div class="strap-block">
			<header class="strap-header">
				<h2 class="strap-title">{{ content.field_title }}</h2>
				<div class="strap-subtitle">{{ content.field_body_plain }}</div>
			</header>
            {# Get correct alias based on selected language #}
            {% set locale = get_locale() %}
            {% set alias = alias_by_path('/products/product-catalog', locale.code) %}
			<form class="form-bar form-bar--centered form-bar--product-search" action="{{ locale.path ~ alias }}">
				<div class="form-bar-item">
					<input type="search" name="q" placeholder="{{ 'Name or model number' | t }}">
				</div>
				<div class="form-bar-item">
					<button type="submit" class="button button--primary button--simple">{{ 'Search' | t }}</button>
				</div>
			</form>
		</div>
	</div>
</div>
