<main class="main">
  <section class="section">
	{% if industry_solutions|length > 0 %}
	<h2 class="section-title">{{ '<em>Industry</em> Solutions'|t }}</h2>
	<div class="industry-solutions">
	  {% for item in industry_solutions %}
		<div class="industry-solution-item">
		  <a href="{{ item.url }}">
		    <div class="overlay-wrapper">
			  {% if item.image %}
			    <div class="field-image">
				  <div class="bg-img">
				    <img src="{{ item.image | image_style('industry_solutions') }}" alt="Image">
				  </div>
				</div>
			  {% endif %}
			  <div class="content-wrapper">
				{% if item.title %}
					<div class="field-title"><h2>{{ item.title }}</h2></div>
				{% endif %}
				{% if item.description %}
					<div class="field-description">
						<p>{{ item.description|striptags }}</p>
					</div>
				{% endif %}
			  </div>
			</div>
		  </a>
		</div>
	  {% endfor %}
	</div>
	{% endif %}
  </section>
</main>
