{% if current_language.id != 'en' and mailing_list %}
  {% include '@atg/patterns/mailing-list.html.twig' with {
    title: mailing_list.title,
    form: mailing_list.form,
    display: mailing_list.display
  } %}
{% endif %}

<footer class="footer">
  <div class="footer-branding">
    <a href="{{ get_locale().path is not empty ? get_locale().path : '/' }}" class="logo">
      {{ svg('dist/img/clecotools-logo.svg') }}
    </a>
  </div>
  <div class="footer-primary">
    {{ page.footer_nav }}
  </div>
  <nav class="nav nav--social">
    <a href="https://twitter.com/ClecoTools" class="nav-link">{{ svg('dist/img/icons/twitter.svg') }}</a>
    <a href="https://www.facebook.com/ClecoPowerTools/" class="nav-link">{{ svg('dist/img/icons/facebook.svg') }}</a>
    <a href="https://www.linkedin.com/company/clecotools" class="nav-link">{{ svg('dist/img/icons/linkedin.svg') }}</a>
    <a href="https://www.youtube.com/channel/UCZ7OgImHsG0Cf9d69FSmtoA" class="nav-link">{{ svg('dist/img/icons/youtube.svg') }}</a>
  </nav>
  <div class="footer-secondary">
    <div class="footer-copyright">
      <p>&copy; {{ 'now' | date('Y') }} {{ 'Apex Tool Group, LLC. All Rights Reserved' | t }}</p>
    </div>

    {{ page.footer_utils_nav }}
  </div>
</footer>
