{#
/**
 * @file
 * Default theme implementation for the checkout order summary.
 *
 * The rendered order totals come from commerce-order-total-summary.html.twig.
 * See commerce-order-receipt.html.twig for examples of manual total theming.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - checkout_step: The current checkout step.
 * - totals: An array of order total values with the following keys:
 *   - subtotal: The order subtotal price.
 *   - adjustments: An array of adjustment totals:
 *     - type: The adjustment type.
 *     - label: The adjustment label.
 *     - total: The adjustment total price.
 *     - weight: The adjustment weight, taken from the adjustment type.
 *   - total: The order total price.
 * - rendered_totals: The rendered order totals.
 */
#}

<div{{ attributes.addClass('checkout-order-summary') }}>
  {% block order_items %}
    <div class="ordered-product-list">
      {% for order_item in order_entity.getItems %}
        <ul>
          {% if order_item.hasPurchasedEntity %}
            <li>{{ product_titles[loop.index0] }}{% if order_item.getQuantity %}<br><b>{{'Qty: ' | t}}{{ order_item.getQuantity|number_format }}</b>{% endif %}</li>
          {% endif %}
          <li>{{- order_item.getTotalPrice|commerce_price_format -}}</li>
        </ul>
      {% endfor %}
    </div>
  {% endblock %}
  {% block totals %}
    {{ rendered_totals }}
  {% endblock %}
</div>