<main class="main">
	<section class="section">
		<article{{ attributes.addClass('article') }}>
			<header class="article-header">
				{{ title_prefix }}

				<h1{{ title_attributes.addClass('article-title') }}>{{ label }}</h1>
				<p class="article-meta">
					{% set release_date = node.createdtime | format_date('short_date_only') %}
					{{ 'Released on @date' | t({ '@date': release_date}) }}
					{% if node.field_tags | length > 0 %}
						{{ 'in' | t }}
						{{ node.field_tags | term_list(', ') }}
					{% endif %}
				</p>

				{{ title_suffix }}
			</header>
			<div{{ content_attributes.addClass('article-body') }}>
				{{ node.body.value | raw }}
			</div>

			<footer class="article-footer">
				{# TODO: Pull AddThis URL into a site-based config? #}
				<share-dropdown script="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53c03c197ed98539">
					<span class="share-toggle">
						<span class="share-toggle-icon">{{ svg('dist/img/icons/share.svg') }}</span>
						<span class="share-toggle-label">Share</span>
					</span>
				</share-dropdown>
				
                {{ content.field_media_kit }}
                
			</footer>
		</article>
	</section>
</main>
