{{ page.breadcrumb }}
{{ page.header }}
<main class="main">
  <section class="section">
    <div class="ade contain clearfix">
      <div class="grid-12">
        <div{{ attributes }}>
          {{ title_prefix }}
          <h1{{ title_attributes }}>{{ label }}</h1>
          {{ title_suffix }}
          <div{{ content_attributes }}>
            {{ content }}
          </div>
        </div>

        <div class="sel-ade" ng-view ng-cloak></div>
      </div>
    </div>
  </section>
</main>

