{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

<div class="account-dashboard">
	{% for row in rows %}
		{%
      set row_classes = [
        default_row_class ? 'views-row',
      ]
    %}

    {% if row.content|render|striptags|trim %}
      {% if loop.first %}
        <div class="address-book__heading">
          {{ 'Address Book'|t }}
        </div>

        <div{{row.attributes.addClass(row_classes)}}>
          <div class="default-address">
            {{ 'Default Billing Address'|t }}
          </div>
          {{- row.content -}}
        </div>
      {% else %}
        <div{{row.attributes.addClass(row_classes)}}>
          {{- row.content -}}
        </div>
      {% endif %}
    {% else %}
      <div class="address-book__heading">
        {{ 'Address Book'|t }}
      </div>
      <div class="view-empty">
        {{ 'There are no addresses yet.'|t }}
        <span><a href="/user/{{ user_id }}/address-book/add/customer">{{ 'Add new address'|t  }}</a></span>
      </div>
    {% endif %}
	{% endfor %}

  {% if recent_orders %}
    <div class="recent-orders">
      <div class="address-book__heading">
        {{ 'Recent Orders'|t }}
      </div>

      {{ recent_orders }}
    </div>
  {% endif %}
</div>
