{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}

<div class="wrapper-content featured-account-dashboard">
	<div class="information">
		{{ 'Hello, '|t }}
    {% if fields.field_first_name.content or fields.field_last_name.content %}
      {{ fields.field_first_name.content }} {{ fields.field_last_name.content }}
    {% else %}
      {{ fields.name.content }}
    {% endif %}
    <div class="account-guide">
      {{ 'From your My Account Dashboard you have the ability to view a snapshot of your recent account activity and update your account information.'|t }}
      <div> {{ 'Select a link below to view or edit information.'|t }}</div>
    </div>
	</div>
  <div class="user-details">
    {% if fields.user_picture.content %}
      {{ fields.user_picture.content }}
    {% endif %}
    <div class="user-information">
      {% if fields.mail.content|render|striptags|trim %}
        <div class="address-item"><label>{{ 'Email:' }} </label> <span> {{ fields.mail.content }} </span> </div>
      {% endif %}
      <div class="address-item"> <label>{{ 'Username:'|t }} </label> <span> {{ fields.name.content }} </span> </div>
      <div class="address-item"> <label>{{ 'Status'|t }} </label>
        {% if fields.status.content|render|striptags|trim == 'True' %}
          <span class="active"> {{ 'Active'|t }} </span>
        {% else %}
          <span class="in-active"> {{ 'In active'|t }} </span>
        {% endif %}
        </span>
      </div>
    </div>
  </div>
  <div class="edit-profile">
	  {{ fields.edit_user.content }}
  </div>
</div>
