{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{% set stock = fields.field_stock.content|render|trim|striptags %}
<div class="card--list">
  {% if fields.nothing.content %}
    <div class="card--list__wishlist">
      {{ fields.nothing.content }}
    </div>
  {% endif %}
	<a href="{{ fields.view_node.content|render|striptags|trim }}" class="card--list__link">
    {% if fields.field_media.content %}
      <div class="card--list__image">
        {{ fields.field_media.content }}
      </div>
    {% endif %}
    {% if fields.field_long_description.content %}
      <div class="card--list__title">
        {{ fields.field_long_description.content }}
      </div>
    {% endif %}
	</a>
  {% if fields.title.content %}
  	<div class="card--list__category">
      {{'#' | t }}{{ fields.title.content }}
    </div>
  {% endif %}
	<div class="cart-price__wrapper">
    {% if fields.price__number.content %}
      <div class="price">
        {{ fields.price__number.content }}
      </div>
    {% endif %}

    {% if fields.nothing_1.content and (stock > 0)%}
      <div class="add-to-cart">
        {{ fields.nothing_1.content }}
      </div>
    {% else %}
      <div class='product-stock out-of-stock'>
        {{ 'Out of stock' }}
      </div>
    {% endif %}
	</div>
</div>
