{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% set view_node = fields.view_node.content|render|trim|striptags %}
<div class="card card--list">
  <div class="card--list__image">
    {% if fields.field_media.content %}
      <a href="{{ view_node }}">
      {{ fields.field_media.content }}
      </a>
    {% endif %}
  </div>
  <div class="card--list__details">
    {% if fields.field_long_description.content %}
      <p>{{ fields.field_long_description.content }}</p>
    {% endif %}
    <div class="card--list__price-wrapper">
      <div class="category">
        {% if fields.title.content %}
          {{'#' | t }}{{ fields.title.content }}
        {% endif %}
      </div>
      <div class="price">
        {% if fields.price__number.content %}
        {{ fields.price__number.content }}
        {% endif %}
      </div>
    </div>
  </div>
</div>
