{% set locale = get_locale() %}
{% set productName = product.name %} 
<main class="main">
    <section class="section section--focus">
        <div class="product-hero">
            <div class="product-hero-media">
                {# Primary Image #}
                {% if product.assets is defined %}
                    <carousel>
                        {% for index, asset in product.assets | sort_assets %}
                            {% set zoomable = step_asset([asset], 'source_to_jpg', 'large') %}
                            {% set thumb = step_asset([asset], 'source_to_jpg', 'product_zoom_thumb') %}
                            <carousel-item id="carousel-{{ index }}" thumb="{{ product.product_image }}" class="product-hero-media-item">
                                <zoomable src="{{ product.product_image }}" full="{{ product.product_image }}" alt="Product image"></zoomable>
                            </carousel-item>
                        {% endfor %}
                    </carousel>
                {% endif %}
            </div>
            <div class="product-hero-content">
                <header class="product-hero-header">
                    <h1 class="product-hero-title">{{ productName|raw}}</h1>
                    {% if product.classifications.web_reference is defined %}
                        {% set categories = null %}
                        {% for category in product.classifications.web_reference %}
                            {% set categories = categories is not null ? categories ~ ' / ' ~ category : category %}
                        {% endfor %}
                        <p class="product-hero-subtitle">{{ categories }}</p>
                    {% endif %}
                </header>

        {% set copyPoints = {} %}
        {% if product.values is defined  %}
            {% for key,copyPoint in product.values %}
                {% if key starts with 'copy_point_' and copyPoint|trim is not empty %}
                    {% set hasFeatures = true %}
                    {% set copyPoints = copyPoints|merge({(key): copyPoint}) %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if product.copyPoints|length > 0 %}
        <div class="product-hero-body wysiwyg-content">
            <h3 class="product-hero-body-title">{{ 'Features' | t }}</h3>
            <ul>
              {% for key, copyPoint in product.copyPoints | ksort %}
                  <li>{{ copyPoint|raw }}</li>
              {% endfor %}
            </ul>
        </div>
        {% endif %}

                <footer class="product-hero-footer">
                    <p class="buttons">
                        <a href="{{ locale.path }}/request-a-quote" class="button button--primary button--simple">{{ 'Request a Quote' | t }}</a>
                        <a href="{{ locale.path }}/request-a-demo" class="button button--secondary button--outline button--simple">{{ 'Request a Demo' | t }}</a>
                    </p>
                </footer>
            </div>
        </div>
    </section>
    <section class="section">
        <header class="section-header">
            <div class="section-header-content">
                <h2 class="section-title">{{ 'Product Information' | t }}</h2>
            </div>
        </header>

        <tabs>
            {% if product.models is defined and product.models | length > 0 %}
                {% set definition = modelTableDefinition(product) %}
                <tab name="{{ 'Model Specification' | t }}" id="models" cache-lifetime="0">
                    <product-comparison-table
                        id-key="{{ definition.columns.0.slug }}"
                        :groups="{{ definition.groups | json_encode }}"
                        :data="{{ definition.data | json_encode }}"
                        compare-label="{{ 'Compare' | t }}"
                        :compare-btn-label="{ singular: '{{ 'Compare Model' | t }}', plural: '{{ 'Compare Models' | t }}', langCode: '{{ locale.code }}' }"
                        units="{{ locale.code == 'en' ? 'imperial' : 'metric' }}"
                        units-label="{{ 'Unit of Measurement' | t }}"
                        :units-options="{imperial: '{{ 'Imperial' | t }}', metric: '{{ 'Metric' | t }}'}">
                        <template slot-scope="comparison">
                            {% for column in definition.columns %}
                                {% set label = column.label %}
                                {% if label is iterable %}
                                    {% set label = label | json_encode %}
                                    {% set label = 'comparison.unitsValue(' ~ label ~ ')' %}
                                {% else %}
                                    {% set label = "'" ~ label ~ "'" %}
                                {% endif %}

                                <table-column
                                    show="{{ column.slug }}.sort"
                                    :label="{{ label }}"
                                    header-class="col--{{ create_key(label) }}"
                                    cell-class="col--{{ create_key(label) }}"
                                    data-type="{{ column.type }}">
                                    <template slot-scope="row">
                                        <span v-html="{{ 'row.' ~ column.slug ~ '.display' }}"></span>
                                    </template>
                                </table-column>
                            {% endfor %}
                        </template>
                    </product-comparison-table>

                    {# About #}
                    {% if product.values.footnotes is defined %}
                        <p>{{ product.values.footnotes | raw }}</p>
                    {% endif %}
                </tab>
            {% endif %}

            {% if product.assets is defined %}
                {% set hasDownloads = false %}
                <tab name="{{ 'Downloads' | t }}">
                    <ul class="listings">
                        {% set downloadTypes = getDownloadTypes() %}
                        {% for asset in product.assets %}
                            {% if asset.type in downloadTypes|keys %}
                                {% set hasDownloads = true %}
                                <li class="listings-item">
                                    {% set url = '#' %}
                                    {% if (downloadTypes[asset.type] is defined) %}
                                        {% set url = download_link(asset, asset.type) %}
                                        {% set thumb = step_asset([asset], 'pro_tools_jpg_of_pdf') %}
                                    {% endif %}
                                    {% include '@atg/patterns/listing.html.twig' with {
                                        url: url,
                                        title: asset.id,
                                        body: asset.type,
                                        image: thumb,
                                        target: '_blank'
                                    } %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% if hasDownloads == false %}
                        <p>{{ 'Currently there are no downloads available for this product.'|t }}</p>
                    {% endif %}
                </tab>
            {% endif %}
        </tabs>

    </section>

    {#{% set criteria = product.filters|merge({
        'product_category': product.product_category,
        'product_line': product.product_line,
        'product_line_ids': product.product_line_ids
    }) %}#}
    {% set relatedProducts = product.related_products %}
    {% if relatedProducts is defined %}
      {% if relatedProducts|length > 1 %}
        <section class="section">
          <header class="section-header">
            <div class="section-header-content">
              <h2 class="section-title">{{ '<em>Related</em> Products'|t }}</h2>
            </div>
          </header>
          <ul class="listings">
            {# Get correct alias based on selected language #}
            {% set alias = alias_by_path('/products/product-catalog', locale.code) %}
            {% for related in relatedProducts %}
              {% if related._source.name != productName %}
                <li class="listings-item">
                  {% set data = related._source %}
                  {% include '@atg/patterns/listing.html.twig' with {
                      title: data.name,
                      body: data.values.sku_overview,
                      url: locale.path ~ alias ~ '/' ~ data.slug.0,
                      size: 'large',
                      image: (data.assets is not empty) ? step_asset(data.assets) : ''
                  } %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </section>
      {% endif %}
    {% endif %}
    <section class="section">
         {{ drupal_region('product_detail_page_callouts') }}
    </section>
</main>
