<div class="wrapper-content">
  <div class="products-menu-page">
    <h2 class="page-title">{{ 'Products'| t }}</h2>
    <div class="row">
      <div class="menu-block">
        {{ welded_chain }}
        {{ weldless_chain }}
        {{ hobby_craft_and_deco }}
        {{ assemblies }}
      </div>
      <div class="menu-block">
        {{ forged_fittings }}
        {{ overhead_lifting }}
        {{ lifting_clamps }}
        {{ blocks }}
      </div>
      <div class="menu-block">
        {{ cable_and_wire_rope }}
        {{ accessories }}
        {{ pre_cut_packaged }}
        {{ chain_and_cable_cutters }}
        <div class="featured-menu-mobile">
          {{ featuredblock }}
        </div>
      </div>
      <div class="menu-block">
        <div class="featured-menu-desktop">
          {{ featuredblock }}
        </div>
      </div>
    </div>
  </div>
</div>
