{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @ingroup themeable
 */
#}
{% set classes = [] %}

<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if not page %}
    <header{{ title_attributes }}>
      <h3>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h3>
    </header>
  {% endif %}
  {{ title_suffix }}

  <div{{ content_attributes }}>
    <div class="node--type-product__page-top">
      {% if product_images %}
        <div class="product-detail-slider">
          <div class="product-detail-slider__container">
            {% if product_image_count > 1 %}
              <button class="product-detail-slider__pseudo-prev-button"></button>
            {% endif %}

            {{ content.field_product_images }}

            {% if product_image_count > 1 %}
              <button class="product-detail-slider__pseudo-next-button"></button>
            {% endif %}
          </div>

          {% if product_image_count > 1 %}
            <div class="product-detail-slider__thumbs-outer-wrapper">
              <button
                class="product-detail-slider__button product-detail-slider__button-prev swiper-button-prev"></button>

              <div class="product-detail-slider__thumbs-container">
                <div class="product-detail-slider__thumbs-wrapper">
                  {{ thumbnails }}
                </div>
              </div>

              <button
                class="product-detail-slider__button product-detail-slider__button-next swiper-button-next"></button>
            </div>
          {% endif %}

          <span class="download-images-link">
            <a href="/product-image-download/{{ node.id() }}" class="component-content__link button">{{ 'Download Images'|t }}</a>
          </span>
        </div>
      {% endif %}

      <div class="product-detail-content-container">
        <header{{ title_attributes.addClass('product-detail-content-container__title') }}>
          <h1>
            {{ content.field_long_description }}
          </h1>

          <span class="sku">{{ label }}</span>

          <div class="product-detail-content-container__rating-container">
            <!--Price Spider Rating widget goes here-->
            <div class="node__buy-now-button ps-widget" ps-sku="{{ sku }}"></div>
          </div>
        </header>
        <div class="product-detail-content-container__utility-container"></div>

        <div class="product-body">
          {{ content.body }}
        </div>

        <h3>Features</h3>

        {{ page_top_products_features }}

        <span class="more-features-link"><a href="#features">See More Features</a></span>
      </div>
    </div>

    <div class="node--type-product__page-bottom">
      <div class="node--type-product-tabs node--type-product-tabs--horizontal">
        <div class="node--type-product-tabs__nav-wrapper">
          <div class="node--type-product-tabs__nav-logo-wrapper">

            <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo">
              {% include directory ~ '/icons/logo.svg' %}
            </a>
          </div>

          <ul class="node--type-product-tabs__nav">
            <li class="node--type-product-tabs__nav-item">
              <a href="#features">{{ 'Features'|t }}</a></li>
            <li class="node--type-product-tabs__nav-item">
              <a href="#specifications">{{ 'Specifications'|t }}</a></li>
            <li class="node--type-product-tabs__nav-item">
              <a href="#reviews-questions">{{ 'Reviews & Questions'|t }}</a></li>
          </ul>
        </div>

        <div class="node--type-product-tabs__content">
          <div class="node--type-product-tabs__mobile-nav-item">
            <a href="#features">{{ 'Features'|t }}</a>
          </div>

          <section class="node--type-product-tabs-tab">
            <div class="node--type-product__accordion-content">
              <div class="node--type-product__accordion-content-header">
                {{ 'Features'|t }}
              </div>

              {{ content.field_product_features }}

              {% if content.field_set_components|render|trim|length > 0 %}
                <div class="product-set-components">
                  <div class="node--type-product__accordion-content-header">
                    {{ 'Contains' }}
                  </div>

                  {{ content.field_set_components }}
                </div>
              {% endif %}

              {% if content.field_pdfs|render|trim|length > 0 %}
                <div class="product-set-components">
                  <div class="node--type-product__accordion-content-header">
                    {{ 'PDFs' }}
                  </div>

                  {{ content.field_pdfs }}
                </div>
              {% endif %}
            </div>
          </section>

          <div class="node--type-product-tabs__mobile-nav-item">
            <a href="#specifications">{{ 'Specifications'|t }}</a>
          </div>

          <section class="node--type-product-tabs-tab">
            <div class="node--type-product__accordion-content">
              <div class="node--type-product__accordion-content-header">
                {{ 'Specifications'|t }}
              </div>

              {{ content.field_product_specifications }}
            </div>
          </section>

          <div class="node--type-product-tabs__mobile-nav-item">
            <a href="#reviews-questions">{{ 'Reviews & Questions'|t }}</a>
          </div>

          <section class="node--type-product-tabs-tab">
            <div class="node--type-product__accordion-content">
              <div class="node--type-product__accordion-content-header">
                {{ 'Reviews & Questions'|t }}
              </div>

              <div class="node--type-product__ps-reviews-container">
                <div class="ps-widget" ps-config="5d66ebae332829002b90e9f3" ps-sku="{{ sku }}"></div>
              </div>

              <div data-bv-show="reviews" data-bv-product-id="{{ sku }}"></div>
            </div>
          </section>
        </div>
      </div>

      {% if related_items %}
        <div class="node--type-product-related-products__nav-wrapper">
          <div class="node--type-product-related-products__nav-logo-wrapper">
            <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo">
              {% include directory ~ '/icons/logo.svg' %}
            </a>
          </div>

          <div class="node--type-product-related-products__nav-content">
            <h4>{{ 'Related Products'|t }}</h4>
          </div>
        </div>

        {{ related_items }}
      {% endif %}

      {{ content|without('field_long_description','field_product_images', 'field_product_features', 'field_product_specifications', 'field_set_components', 'body', 'field_pdfs') }}
    </div>
  </div>
</article>
